<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Images</title>

</head>
<body>
{% load static %}
<img src="{% static 'img/image.jpg' %}" alt=" " />
<img src="{% static 'img/image2.jpg' %}" alt="" />
<img src="{% static 'img/image3.jpg' %}" alt="" />
<img src="{% static 'img/image4.jpg' %}" alt="" />
<img src="{% static 'img/image5.jpg' %}" alt="" />
<img src="{% static 'img/image3.jpg' %}" alt="" />
<img src="{% static 'img/image4.jpg' %}" alt="" />
<img src="{% static 'img/image.jpg' %}" alt="" />
<img src="{% static 'img/image4.jpg' %}" alt="" />



</body>
</html>